body {
	background-color:#F8F8F8;
	color:#333333;
	font-family: 'Rokkitt', serif;
	font-size:15px;
	height:100%;
	text-align:center;
	margin:0;
	padding:0 5%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color:#800020;
}

header a:hover {
	color:inherit;
}

header h1 {
	font-size:40px;
	margin-top:30px;
	margin-bottom:0;
}

header h2 {
	margin:0;
	color:#888888;
}

nav {
	margin:auto;
	display: flex;
    justify-content: center;
}

nav h2 {
	margin:10px;
}

hr {
	height: 1px;
    margin:2px auto;
    border:0;
    background-color:#888888;
    display:block;
}

#work-nav a {
	flex-basis:50%;
	flex-grow:1;
	border-bottom:3px solid transparent;
}

#production {
	display: flex;
	padding-top:20px;
}

#post {
	display: flex;
	padding-top:20px;
}

.in-production {
	background-color:#F0F0F0;
}

.in-production .in-production-text {
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.in-production:hover .in-production-text {
	display: none;
}

.work-item {
	position: relative;
	display:inline-block;
	margin:10px;
}

.work-item img {
	width:225px;
	height:300px;
}

.work-item:hover img {
	filter: blur(4px) opacity(.4);
}

.caption {
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.work-item:hover .caption {
	display:block;
}

.caption h3 {
	font-size:20px;
}

.project {
	padding:20px;
}

.project img {
	display: block;
	width:50%;
	height:auto;
	float: left;
}

.project-info {
	width:45%;
	height:100%;
	margin-left:55%;
}

.project-link {
	display:inline-block;
	margin:0 2mm;
}

.project-link img {
	width:10mm;
	height:auto;
}

.project-info p {
	font-size:17px;
}

#about {
	padding:20px;
}

#about img {
	display: block;
	width:35%;
	height:auto;
	float:right;

}

#bio {
	font-size:17px;
	text-align: justified;
	width:60%;
	margin-right:40%;
}

#credits {
	font-size:17px;
}

#credits ul {
	list-style: none;
}

footer {
	display:none;
	background-color:#F0F0F0;
	padding:5px 0;
}